Trying to the this with less code.

Trying with even less code.

# Setup a Real Test

Now that we have trained a model with 3 words, let's try to create a model that know more words.

We also want to teach the model what type of word it is learning. We are going to use classification so that when the model sees a word it recognizes, it can associate that word with a type. If there are multiple, then the model can use machine learning to try to predict what type you are interested.

What I want to do is train the model with my Train_List as the new vocabulary.

In [1]:
#Import the pandas library
import pandas as pd

In [2]:
# Set up our vectorizer
# import and instantiate CountVectorizer. You have to import and transform the text into numeric. This is the instantiate
from sklearn.feature_extraction.text import CountVectorizer
vect = CountVectorizer()

In [3]:
# Create the list of the words and what category they belong to.
Train_List = [[1, 'humor','Jokes'], [2, 'joke','Jokes'], [3,'funny', 'Jokes'], [4, 'fun','Jokes'],
              [5,'throw','Sports'], [6, 'catch','Sports'], [7, 'run','Sports'],
              [8, 'eat','Foods'], [9, 'ate','Foods'], [10, 'hungry','Foods']]

In [4]:
# Create the Training data into a df.
Train = pd.DataFrame(Train_List, columns = ['Train_ID', 'Train_Desc','Type'])

In [5]:
# Sort it
Train = Train.sort_values(by=['Train_Desc'])
Train

   Train_ID Train_Desc    Type
8         9        ate   Foods
5         6      catch  Sports
7         8        eat   Foods
3         4        fun   Jokes
2         3      funny   Jokes
0         1      humor   Jokes
9        10     hungry   Foods
1         2       joke   Jokes
6         7        run  Sports
4         5      throw  Sports

Note: I want it to understand that, if you see any of these words, this is what type it is.

So if I give it a sentence, pick it apart and find the vocabulary it has learned. Then, classify what type of topic it is.

The stuff above has the X-Train, which are the Train_Desc AND the X-Test which are the Type.

When I train the model, I will use a full 100 percent train because I know these are the answers I want for each of these words. After, I might do 75/25. The default.

# I see where the issue is. I need to vectorize my Train words. That way KNN has numbers to work with to classify. Specifically the X Train and X Test

In [6]:
pull_word_list = Train.Train_Desc

In [7]:
type(pull_word_list)

pandas.core.series.Series

In [8]:
# View it
pull_word_list

8       ate
5     catch
7       eat
3       fun
2     funny
0     humor
9    hungry
1      joke
6       run
4     throw
Name: Train_Desc, dtype: object

In [9]:
# Learn the 'vocabulary' of the training data (occurs in place). This is the Fit
# The Fit is what teaches the vocabulary
#These are the words I want it to recognize.
vect.fit(pull_word_list)

CountVectorizer(analyzer='word', binary=False, decode_error='strict',
                dtype=<class 'numpy.int64'>, encoding='utf-8', input='content',
                lowercase=True, max_df=1.0, max_features=None, min_df=1,
                ngram_range=(1, 1), preprocessor=None, stop_words=None,
                strip_accents=None, token_pattern='(?u)\\b\\w\\w+\\b',
                tokenizer=None, vocabulary=None)

In [10]:
# Now we can see the new vocabulary.
vect.get_feature_names()

['ate',
 'catch',
 'eat',
 'fun',
 'funny',
 'humor',
 'hungry',
 'joke',
 'run',
 'throw']

Now what I need to do is create the X-Train input

In [11]:
# Try to create the KNN input
pull_word_list_dtm = vect.transform(pull_word_list)
pull_word_list_dtm

<10x10 sparse matrix of type '<class 'numpy.int64'>'
	with 10 stored elements in Compressed Sparse Row format>

In [12]:
pull_word_list_dtm.toarray()

array([[1, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 1, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 1, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 1, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 1, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 1, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 1, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 1, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 1, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 1]], dtype=int64)

Ok, Now I need to import this back into the original data frame.

I tried the Car ML way, but it didn't work. I think will have to merge the df.

In [13]:
pull_word_list_df = pd.DataFrame(pull_word_list_dtm.toarray(), columns = vect.get_feature_names())
pull_word_list_df

   ate  catch  eat  fun  funny  humor  hungry  joke  run  throw
0    1      0    0    0      0      0       0     0    0      0
1    0      1    0    0      0      0       0     0    0      0
2    0      0    1    0      0      0       0     0    0      0
3    0      0    0    1      0      0       0     0    0      0
4    0      0    0    0      1      0       0     0    0      0
5    0      0    0    0      0      1       0     0    0      0
6    0      0    0    0      0      0       1     0    0      0
7    0      0    0    0      0      0       0     1    0      0
8    0      0    0    0      0      0       0     0    1      0
9    0      0    0    0      0      0       0     0    0      1

Above is just to give you a visual. I ended up not needing the input.

In [14]:
#Assign the X value
X = pull_word_list_df[['ate', 'catch', 'eat', 'fun', 'funny', 'humor', 'hungry', 'joke', 'run', 'throw']]

In [15]:
#Preview the X
# This can be a df. But y can not.
X

   ate  catch  eat  fun  funny  humor  hungry  joke  run  throw
0    1      0    0    0      0      0       0     0    0      0
1    0      1    0    0      0      0       0     0    0      0
2    0      0    1    0      0      0       0     0    0      0
3    0      0    0    1      0      0       0     0    0      0
4    0      0    0    0      1      0       0     0    0      0
5    0      0    0    0      0      1       0     0    0      0
6    0      0    0    0      0      0       1     0    0      0
7    0      0    0    0      0      0       0     1    0      0
8    0      0    0    0      0      0       0     0    1      0
9    0      0    0    0      0      0       0     0    0      1

I see what the problem is. The answer types I proved are wrong because the X gets transposed.
I bet this threw off the KNN analysis.

In [16]:
Type2_List = [['Foods'], ['Sports'], ['Foods'], ['Sports'],
              ['Jokes'], ['Jokes'], ['Foods'],
              ['Jokes'], ['Sports'], ['Sports']]

In [17]:
df_Type2 = pd.DataFrame(Type2_List, columns = ['Type2'])

In [18]:
# Assign the result values to y. y cannot be a df, it has to be an array.
y = df_Type2.Type2

In [19]:
y

0     Foods
1    Sports
2     Foods
3    Sports
4     Jokes
5     Jokes
6     Foods
7     Jokes
8    Sports
9    Sports
Name: Type2, dtype: object

# Test out KNN

In [20]:
#Step 1: Import the class you plan to use. We are using nearest neighbor here.
from sklearn.neighbors import KNeighborsClassifier

In [21]:
#Step 2: "Instantiate" the "estimator"
#"Estimator" is scikit-learn's term for model
#"Instantiate" means "make an instance of"

knn = KNeighborsClassifier(n_neighbors=1)

In [22]:
#Step 3: Fit the model with data (aka "model training")
#Model is learing the relationship between X and y
#Occurs in-place. So you don't need to assign the results to a new object.
knn.fit(X,y)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=1, p=2,
                     weights='uniform')

In [23]:
#Test it with an example with 'throw'
knn.predict([[0,0,0,0,0,0,0,0,0,1]])

array(['Sports'], dtype=object)

&gt; Not bad, but this is not a trained model. If you have values it is not familiar with, it will struggle. So we need to do a train/test split to train the model to learn the pattern between X and y.


Now I wonder if I need to do this part below. Maybe if it has a world multiple times.

&gt; Turns out for this example, I shouldn't use KNN. Not until I have more data. There also needs to be more combinations. Remember, at this point a 0/1 sequence has an exact answer.

# User Input

Ok, now that the predictor works. I need to get the user input and then vectorize it.

In [24]:
# Create an empty list for the vectorizer
input_list = []

In [25]:
# Turn it into an IF Statement, solves for bad entries.
i = 1

while i < 4:
    simple_test_input = input("Hi, what can I help you with?: ")
    input_list.clear()
    input_list.append(simple_test_input)
    simple_test_dtm = vect.transform(input_list)
    simple_test_dtm_array = simple_test_dtm.toarray()
    simple_test_str = str(simple_test_dtm_array)
    if simple_test_str == '[[0 0 0 0 0 0 0 0 0 0]]':
        print ("Sorry, I don't understand any of your vocabulary. Can you please use a different phrase?")
    else:
        print ('Ah, I understand. Here is your vectorized sentence: ', simple_test_dtm_array)
        break
print ('Before I had to manually put in the vectorized sentence, but now it auto loads.')

Hi, what can I help you with?: what should i eat?
Ah, I understand. Here is your vectorized sentence:  [[0 0 1 0 0 0 0 0 0 0]]
Before I had to manually put in the vectorized sentence, but now it auto loads.

In [26]:
# For now, I need to manually put in my prediction numbers:
#Maybe put an input here. Copy/paste the vector result.
#Example: Predicted_Type = knn.predict([[0, 0, 0, 0, 0, 0, 0, 1, 0, 0]])
Predicted_Type = knn.predict(simple_test_dtm_array)
Predicted_Type

array(['Foods'], dtype=object)

Now that I have the type, I need to pull a random message based on the type.

# Create some Type Banks

Jokes, Foods, Sports

In [27]:
# Create some jokes.
Jokes = [[1, 'I run from 7 b/c 7 ate 9'], [2, 'I got a 6 pack...in my car'], [3,'My corn is extra corny']]

In [28]:
# Create some Foods.
Foods = [[1, 'I like cakes'], [2, 'It is Big Mac Time!'], [3,'Norman likes lemons']]

In [29]:
# Create some Sports.
Sports = [[1, 'My teams is the Dallas Cowboys'], [2, 'Time to play some basketball'], [3,'Do some running to get your cardio in']]

# Get some random messages

In [30]:
# Convert the answer from an Array to a String
Predicted_Type2 = str(Predicted_Type)

In [31]:
# I need to trim this so it matches the List name.
Predicted_Type2

"['Foods']"

In [32]:
# You can use this to see the length and that the array has 4 extra characters
print(len(Predicted_Type2))

9

In [33]:
# Trim the extra characters that came with the Array conversion
Predicted_Type2 = Predicted_Type2[:-2]
Predicted_Type2 = Predicted_Type2[2:]

In [34]:
# You can use see the difference
print(len(Predicted_Type2))
Predicted_Type2

5

'Foods'

In [35]:
# Import the random tools library
import random

In [36]:
# From the selected List, give me a random value.
print(random.choice(eval(Predicted_Type2)))

[3, 'Norman likes lemons']

# Summary

This has been a challenging exercise. I think I took about 2 weeks and many hours. Probably like 20 hours or more. But it has been a good way for me to try to incorporate my skills in to a single project.

The end